{% extends 'core/base.html' %}

{% block content %}
<h1>{{ object.full_name }}</h1>
<p>Email: {{ object.email }}</p>
<p>Affiliation: {{ object.affiliation }}</p>
<p>Specialization: {{ object.specialization }}</p>
<p>Cross-Skill Trained: {{ object.cross_skill_trained|yesno }}</p>
<p>Institution: {{ object.institution }}</p>
<p>Role: {{ object.role_on_project }}</p>
<p>Skill Role: {{ object.skill_role }}</p>
<p>Project: {{ object.project.title }}</p>
<a href="{% url 'core:participant_update' object.pk %}">Edit</a> |
<a href="{% url 'core:participant_delete' object.pk %}">Delete</a>
{% endblock %}